#todo-main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.example-form {
  width: 100%;
  display: flex;
}

.example-full-width {
  width: 100%;
  padding-right: 16px;
}

#todo-block {
  width: 400px;
}