<div id="todo-main">
  <div id="todo-block">
    <mat-card>
      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Add ticket">
          </mat-form-field>
          <button mat-flat-button color="primary">Add</button>
        </form>
      </mat-card-content>
    </mat-card>
    <div id="todo-list">
      <div class="todo-item">
        <div class="todo-is-ready"></div>
        <div class="todo-task">Create own TODO app</div>
      </div>
      <div class="todo-item">
        <div class="todo-is-ready"></div>
        <div class="todo-task">Create own TODO app</div>
      </div>
      <div class="todo-item">
        <div class="todo-is-ready"></div>
        <div class="todo-task">Create own TODO app</div>
      </div>
      <div class="todo-item">
        <div class="todo-is-ready"></div>
        <div class="todo-task">Create own TODO app</div>
      </div>
      <div class="todo-item">
        <div class="todo-is-ready"></div>
        <div class="todo-task">Create own TODO app</div>
      </div>
    </div>
  </div>
</div>
