.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  justify-content: space-between;
}

.example-margin {
  margin: 0 10px;
  width: 225px;
  overflow:hidden;
  //white-space: nowrap;
  //text-overflow: ellipsis;

}

//.mat-checkbox-label {
//
//}

.todo-item-done {
  //.mat-checkbox-label {

  text-decoration: line-through !important;
  color: silver;
  //}
}

.todo-item-btn {
  margin: 0 4px;
}

.todo-item {
  border-bottom: solid 1px silver;
}
