<div class="todo-item">
  <section class="example-section">
    <mat-checkbox [ngClass]="{'todo-item-done': item.isDone}" class="example-margin"
                  [(ngModel)]="item.isDone">{{item.text}}</mat-checkbox>
    <div>
      <button
              class="todo-item-btn"
              mat-raised-button color="primary"
              [disabled]="item.isDone" (click)="openEditItemModal(item)">Edit
      </button>
      <button
              class="todo-item-btn"
              mat-raised-button color="warn"s
              [disabled]="item.isDone" (click)="onDeleteItem(item)">Delete
      </button>
    </div>
  </section>
</div>
